@mixin for-phone-only {
    @media (max-width: 479px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}