.backdrop {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 12;
}

.backdrop.is-hidden {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--bacground-priamary);
    text-align: start;
}

.button-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--bacground-priamary);
    color: var(--title-text-color);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor
}

.button-modal-close {
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.modal-form {
    margin-bottom: 10px;
}

.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}

.modal-form__control {
    position: relative;
}

.modal-form__label {
    display: block;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--priamary-text-color);
}

.modal-form__input {
    padding: 11px 12px 11px 42px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
    &:focus {
        fill: currentColor;
        color: var(--border-color);
        border-color: var(--border-color);
    }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--title-text-color);
    fill: currentColor;
}

.modal-form__input{
    &:focus{
        +.modal-form__icon{
            color: var(--border-color);
        }
    }
}

.form-textarea {
    width: 100%;
    height: 120px;
    padding: 11px 12px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    color: rgba(117, 117, 117, 0.5);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
    &:focus {
        border-color: var(--border-color);
    }
}

.checkbox {
    margin-top: 10px;
}

.checkbox__input {
    appearance: none;
    padding-left: 12px;
}

.checkbox__lable {
    position: relative;
    padding-left: 24px;
    font-size: 14px;
    line-height: 1.71px;
    color: var(--priamary-text-color);
}

.checkbox__lable{
    &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 16px;
        height: 15px;
        border: 1px solid var(--title-text-color);
        border-radius: 2px;
    }
}

.checkbox__lable{
    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 16px;
        height: 15px;
        background-image: url(../images/icon-check.svg);
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.checkbox__input{
    &:checked{
        +.checkbox__lable{
            &::after{
                opacity: 1;
            }
        }
    }
}

.checkbox__link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-color);
}

.form-button {
    border-radius: 4px;
    padding: 10px 52px;
    margin: 30px 124px 0 124px;
    min-width: 200px;
    border: 0;
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}