.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bacground-footer-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer-address {
    width: 231px;
    margin-top: 20px;
    margin-right: 70px;
    font-style: normal;
    list-style: none;
    padding: 0px;
}

.footer-address__item {
    margin-bottom: 9px;
}

.footer-address__item {
    &:last-child{
        margin-bottom: 0px;
    }
}

.footer-address__link {
    /* padding-top: 9px; */
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link{
    &:hover,
    &:focus{
        color: var(--accent-color)
    }
}

.footer-address__link--inverse {
    color: var(--hero-footer-text-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer__logo {
    margin: 0;
    padding: 0 0 20px 0;
    color: var(--hero-footer-text-color);
}


.footer-social {
    margin-right: 93px;
}

.footer-social__title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--bacground-priamary);
}

.footer-social__list {
    display: flex;
    gap: 10px;
}

.footer-social__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--hero-footer-text-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link{
    &:hover,
    &:focus{
        background-color: #2196F3;
    }
}

.footer-social__icon {
    fill: currentColor;
}

.subscribe {
    display: flex;
}

.subscribe__input {
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    color: var(--bacground-priamary);
    background-color: var(--bacground-footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe__button {
    display: flex;
    gap: 10px;
    border-radius: 4px;
    padding: 10px 28px;
    min-width: 200px;
    border: 0;
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.subscribe__icon {
    fill: currentColor;
}
