.works-list {
    display: flex;
    flex-wrap: wrap;
}

.works-list__item {
    position: relative;
    margin-right: 30px;
    width: 370px;
    text-align: center;
}

.works-list__item{
    &:last-child{
        margin-right: 0px;
    }
}

.works-label {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.works-label__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 14px;
    line-height: 0.87;
    text-transform: uppercase;
    color: var(--bacground-priamary);
}